*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:url("bg.png");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
min-height:100vh;
}

.title{
text-align:center;
color:white;
font-size:38px;
font-weight:bold;
padding-top:120px;
margin-bottom:20px;
}

.menu{
width:90%;
max-width:350px;
margin:auto;
display:flex;
flex-direction:column;
gap:12px;
}

button{
height:55px;
border:none;
border-radius:15px;
background:#ff0000;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
box-shadow:0 0 15px red;
}

button:hover{
background:#c40000;
}
body{
animation:fadeIn .5s ease;
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(15px);
}
to{
opacity:1;
transform:translateY(0);
}
}

button{
transition:.3s;
}

button:hover{
transform:scale(1.05);
}

button:active{
transform:scale(.95);
}
.social{
display:flex;
justify-content:center;
gap:25px;
margin-top:30px;
margin-bottom:20px;
}

.icon{
width:40px;
height:40px;
background:white;
padding:8px;
border-radius:50%;
transition:.3s;
}

.icon:hover{
transform:scale(1.2);
box-shadow:0 0 15px red;
}
.social-links{
margin-top:40px;
text-align:center;
}

.social-links h2{
color:white;
margin-bottom:15px;
}

.social-links a{
display:block;
width:250px;
margin:10px auto;
padding:12px;
background:#ff0000;
color:white;
text-decoration:none;
border-radius:12px;
font-size:18px;
font-weight:bold;
transition:.3s;
}

.social-links a:hover{
background:#cc0000;
transform:scale(1.05);
}